* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition: all 500ms ease-in-out;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

::-webkit-scrollbar{
background-color: rgb(25, 110, 247);
width: 6px;
}

::-webkit-scrollbar-button{
  background-color: rgb(25, 110, 247);
}

::-webkit-scrollbar-thumb{
  background-color: black;
  border: 1px solid rgb(25, 110, 247);
  border-radius: 6px;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
  color: white;
}


nav {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20rem;
  /* justify-content: center; */
  padding: 0px 60px;
  /* background:  rgb(27, 26, 26); */
  position: fixed;
  z-index: 100;
  /* background: linear-gradient(to bottom, black, transparent); */
  background: linear-gradient(to bottom, hsla(0, 0%, 2%, 0.9), transparent);
}

.logo{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgb(25, 110, 247);
  position: relative;
}

.logo::after{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  inset: 0;
  /* margin: auto; */
  content: '{/}';
  color: black;
  font-size: 1.8rem;
  font-weight: 600;
  transform: translateY(-3px);
}

a {
  text-decoration: none;
  color: inherit;

}

nav ul {
  display: flex;
  /* width: 20%; */
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  /* justify-content: space-between; */
}

nav a {
  height: 50px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a:hover,
nav a:hover li,
.active {
  background-color: rgb(48, 122, 243);
  border-radius: 40px;
  color: black;

}

.active:focus .side-bar{
  width: 0px !important;
}

nav ul li {
  font-size: 18px;
  font-weight: 600;
  height: 60%;
  /* width: fit-content; */
  list-style: none;
  color: white;

}

.side-bar {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 0px;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  right: 0;
  top: 0;
  background-color: black;
  z-index: 11;
  padding-top: 10px;
  padding-left: 12px;
  /* color: white; */
}

.side-bar a {
  height: 50px;
  min-width: 100px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  /* justify-content: center; */
}

.side-bar a:hover,
nav a:hover li {
  background-color: rgb(48, 122, 243);
  border-radius: 40px;
  color: black;

}

.side-bar ul li {
  font-size: 18px;
  font-weight: 600;
  height: 60%;
  /* width: fit-content; */
  list-style: none;
  color: white;

}

.show{
  width: 70%;
}

.side-bar ul li {
  font-size: 18px;
  font-weight: 600;
  height: 60%;
  /* width: fit-content; */
  list-style: none;
  color: white;

}

.side-bar ul {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

h1 {
  background: linear-gradient(to bottom, white 40%, rgb(48, 122, 243));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  columns: white;
  font-size: 2rem;
  font-weight: 700;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}



:root {
  --one: rgb(7, 54, 223);
  --two: rgb(6, 184, 255);
}

h1:hover {
  background: linear-gradient(to top, white 40%, rgb(48, 122, 243));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

h3 {
  font-size: 8vh;
}

.hero {
  /* background: radial-gradient(black, rgb(39, 38, 38)); */
  background: url(db2f24944f5cf75976c60e990fc9de06.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  position: relative;

}

.hero::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.64);
  top: 0;
  left: 0;

}

.profile {
  height: 140px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid rgb(104, 153, 244);
  background: url(Snapchat-1160607638.jpg);
  background-position: -89px -22px;
  display: none;
  background-size: 220%;

}

.hero-heading {
  padding: 100px;
  color: white;
  z-index: 10;
  position: relative;
  /* margin: 100px; */
}

.hero-heading span {
  color: rgba(101, 157, 248, 0.916);

}

.hero-heading hr {
  /* animation-name: hr;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay: 0ms; */
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: hr 3s ease-in-out 0s alternate-reverse infinite;
  width: 200px;
  border: 3px solid rgba(101, 157, 248, 0.395);
  border-radius: 3px;
  margin: 30px 0px;
}


.hero-heading button {
  /* background-color: red; */
  background-color: rgb(48, 122, 243);
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  padding: 12px;
  font-size: 18px;
  font-weight: 600;
  z-index: 0;
  /* box-shadow: 0px 0px 100px 100px red; */
  /* margin-top: -10px; */
}

.hero-heading a {
  position: relative;
  z-index: 10;
  display: flex;
  width: fit-content;
}



.hero-heading a::after {
  content: '';
  position: absolute;
  inset: -.3rem;
  background: conic-gradient(from var(--gradient-angle),
      var(--one),
      var(--two),
      var(--one));
  animation: rotation 2s linear infinite;
  filter: blur(5px);
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  /* transform: translateZ(-10deg); */
  z-index: -1;
  transition-delay: 300ms;
}

.hero-heading a:hover::after {
  border-radius: 20px;
}

.hero-heading button:hover {
  border-radius: 40px;

}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }

  100% {
    --gradient-angle: 360deg;
  }
}

.hero-heading button:hover span {
  color: white !important;
}


.hero img {
  /* opacity: 0.2; */
  filter: blur(10px);
  position: absolute;
  top: 0;
  /* right: -10rem; */
  right: 0;
  /* margin-left: -100px; */
  height: 150vh;
  width: 100%;
  z-index: -1;



}




.trim svg {
  transform: rotate(180deg);
  position: absolute;
  bottom: auto;
  height: fit-content;
  top: -20rem;
  left: 0;
  height: fit-content;
}

.media-handles {
  height: 86vh;
  top: 4rem;
  position: absolute;
  right: 0;
  /* background-color: rgba(101, 179, 248, 0.097); */
  border-left: 1px solid white;
  width: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  padding: 30px 0px;
}

.media-handles svg {
  height: 30px;
  width: 30px;
}

.media-handles:hover {
  box-shadow: inset 0px 0px 10px 0px rgba(217, 230, 244, 0.206),
    inset -10px -10px 10px 0px rgba(0, 0, 0, 0.377);
}

.about {
  min-height: 100vh;
  background-color: black;
  padding: 100px;
  color: white;
  display: flex;
  position: relative;
}

.about img {
  height: 300px;
  width: 300px;
  position: relative;
  /* opacity: 0; */
  z-index: 10;
  background-color: red;

}

.txt-about {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 500;
}

.image {
  position: relative;
  z-index: 1;
  width: 100%;
}

.image div {
  position: absolute;
  content: '';
  height: 66%;
  width: 54%;
  /* background-color: red; */
  border: 5px solid rgb(48, 122, 243);
  top: 30px;
  left: 30px;
  z-index: 5;

}

.cover {
  margin-top: 5rem;
}

.my-works{
  background-color: black;
  height: 100vh;
  /* overflow-y: hidden; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* flex-wrap: wrap; */
  gap: 30px;
}

.work-table {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  /* background-color: blue; */
  height: 80vh;
  width: 80%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}

.work-table div{
  width: 100%;
  height: 100%;
  /* background-color: blue; */
  /* overflow: hidden; */
}

.work-table div span{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: grey;
 
  /* position: absolute; */
  /* margin-left: 50px; */
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}

.link:hover{
  transform: rotate(30deg);
}

.work-table div span:hover{
 box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5),
              inset 0px 0px 4px 0px white;
  border-radius: 60% 40% 31% 69% / 42% 37% 63% 58% ;
  
}

.work-table div span:nth-child(2){
  /* margin-left: 150px; */
  transform: translateX(-20px);
}

.work-table img{
  /* object-fit: contain; */
  /* object-position: center; */
  height: 100%;
  width: 100%;
}

.container{
  display: flex;
  flex-direction: column;
  /* overflow: scroll; */
  
}

.item{
  /* background-color: blue; */
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  /* overflow: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: proximity; */
  /* flex-direction: column; */
}

.item div{
  width: 30%;
  height: 200px;

}

.item span img{
  height: 1.3rem;
}

.w-one{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 30%;
  margin-top: 20px;
}

.w-one p{
  /* position: absolute; */
  top: 3rem;
}

.project{
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent) !important;
  width: 100% !important;
  position: absolute;
  height: 100px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  bottom: 0;
  transition: all 900s ease-in-out;
}

.project:hover{
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent) !important;

}






.contact {
  background: url(f0caa25635c56923ebef6b6dc247308f.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  padding: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact li {
  list-style: none;
}

.left {
  z-index: 10;
  position: sticky;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* flex-wrap: wrap; */
  height: 70vh;
  background-color: rgb(3, 4, 6);
  /* background-color: whitesmoke; */
  width: 40%;
  padding: 50px;
  text-shadow: 0px 0px 5px rgba(101, 157, 248, 0.395);
}

.left h2 {
  color: white;
}

.left hr {
  /* animation: hr 3s ease-in-out 0s alternate-reverse infinite; */
  width: 100px;
  border: 3px solid rgba(101, 157, 248, 0.395);
  border-radius: 3px;
  margin: -10px 0px;
}

.left form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left div {
  background-color: white;
  padding: 12.5px 20px 12.5px 20px;
  border-radius: 6px;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  
  

}

.left div:hover label{
  /* color: red; */
  
  top: -0.7rem;
  transform: scale(1.3);
}

.left input::placeholder{
  color: black;
  font-weight: 500;
  font-size: 1rem;
  /* position: absolute; */
  
  /* mix-blend-mode: difference; */
  /* transform: scale(1); */
  }


.left div input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
}

/* .left button{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: ;
} */

.left .subbtn {

  background-color: rgb(48, 122, 243);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
  height: 50px;
  width: 100%;
  font-size: 18px;
  font-weight: 600;

}

.left .sub-cont {
  position: relative;
  z-index: 10;
  display: flex;
  width: 100%;
  /* background-color: red !important; */
  padding: 0;
  border-radius: 0px;
  display: flex;
  flex-direction: column-reverse;
 
}



.left .sub-cont::after {
  content: '';
  position: absolute;
  inset: -.3rem;
  background: conic-gradient(from var(--gradient-angle),
      var(--one),
      var(--two),
      var(--one));
  animation: rotation 2s linear infinite;
  filter: blur(5px);
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  /* transform: translateZ(-10deg); */
  z-index: -1;
  transition-delay: 300ms;
}

.hero-heading a:hover::after {
  border-radius: 20px;
}

.hero-heading button:hover {
  border-radius: 40px;

}

.right {
  z-index: 10;
  position: sticky;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  /* flex-wrap: wrap; */
  height: 70vh;
  background-color: rgb(3, 4, 6);
  /* background-color: whitesmoke; */
  width: 40%;
  padding: 50px;
  text-shadow: 0px 0px 5px rgba(101, 157, 248, 0.395);
}


.right a{
  display: flex;
  align-items: center;
  gap: 20px;
}

.right ul{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.social-handles{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: -0.53vw;

}

.social-handles svg{
  fill: white;
  height: 1.4rem;
  width: 1.4rem;
  transform: scale(0.8);

}

a{
  cursor: pointer;
}

.right span:hover svg{
  transform: scale(1);
}

.right span:hover
{
  border-radius: 60% 40% 31% 69% / 42% 37% 63% 58% ;
}

.right span{
  min-height: 50px;
  width: 50px;
  border: 1px solid black;
  background-color: rgba(128, 128, 128, 0.289);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:
             inset 1px 1px 5px 0px rgba(104, 153, 244, 0.536),
             inset -1px -1px 5px 0px rgba(255, 255, 255, 0.484)
              ;
}



.contact::after {
  height: 100%;
  width: 100%;
  position: absolute;
  content: '';
  top: 0;
  background-color: rgba(0, 0, 0, 0.95);

}


@keyframes hr {

  100% {
    transform: translate(54rem);
    scale: 0.5;
  }
}

@media screen and (max-width: 800px) {

  nav {
    justify-content: end;
    padding-right: 5vw;

  }

  nav .logo{
    display: none;
  }

  nav ul {
    display: none;
  }

  .hamburger:active .hero {
    filter: blur(100px);
  }



  .hamburger {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    width: 40px;
    /* z-index: 10000; */
    /* margin-right: -40vw; */
  }


.hamburger span:nth-child(3){
  transform: translateX(16px);
  /* background-color: red; */
  /* border: 2px solid red; */
}

  .contact{
    padding: 0;
    flex-direction: column;
    
  }

  .contact .left{
    width: 100%;
    height: 100vh;
    
  }
  .contact .right{
    width: 100%;

  }

  /* .align-right {
    align-items: end;
  } */

  .hamburger span {
    width: 100%;
    border: 2px solid white;
    border-radius: 2px;
  }

  .hamburger span:nth-child(1) {
    width: 60%;

  }

  .hamburger span:nth-child(3) {
    width: 60%;
  }

  h3 {
    font-size: 6vh;
    display: flex;
    flex-wrap: wrap;
  }

  .hero::after {
    background-color: rgba(0, 0, 0, 0.9);
  }

  .hero-heading {
    /* margin-top: 20px; */
    gap: 30px;
  }

  .about {
    padding: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .image {
    align-items: center;
    display: none;
    justify-content: center;

  }

  .image div {
    display: none;
  }

  .hero img {
    display: none !important;
  }

  .hero-heading {
    padding: 70px 5px 0px 30px;

  }

  .social-handles span {
    margin-left: -1vw;

  }

  svg {
    display: none;
  }

  hr {
    display: none;
    animation: none;
  }

  .profile {
    display: block;
  }

  .work-table{
    width: 100%;
  }

  .my-works section div {
    width: 100%;
  }
}